@model IEnumerable<DTH215955_Nguyễn_Trọng_Khang.Models.Sach>

@{
    ViewData["Title"] = "Trang chủ";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3 shadow" style="width:280px">
            <div class="card-header"><h5 class="text-info"> @Html.DisplayFor(modelItem => item.TenSach)</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="/images/@Html.DisplayFor(modelItem => item.Hinh)" class="img-thumbnail" width="100" />
                        </a>
                        </div>
                    <div class="col">
                        <p class="card-text text-success">  @Html.DisplayFor(modelItem => item.NhaXuatBan)</p>
                        <p class="card-text text-danger">Giá: @String.Format("{0:0,0}", item.GiaBan) đ</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

