@model WebApplication1.Models.Mathang

@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-4">Xóa Sách</h1>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa sách này?</h3>

<div class="card shadow-sm mb-4">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">Thông tin Sách</h4>
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-3">Tên </dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Ten)</dd>

            <dt class="col-sm-3">Giá gốc</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.GiaGoc) ₫</dd>

            <dt class="col-sm-3">Giá bán</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.GiaBan) ₫</dd>

            <dt class="col-sm-3">Số lượng</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SoLuong)</dd>

            <dt class="col-sm-3">Mô tả</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTa)</dd>

            <dt class="col-sm-3">Hình ảnh</dt>
            <dd class="col-sm-9">
                <img src="~/images/products/@Html.DisplayFor(model => model.HinhAnh)" class="img-thumbnail" style="max-width: 150px;" />
            </dd>

            <dt class="col-sm-3">Lượt xem</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.LuotXem)</dd>

            <dt class="col-sm-3">Lượt mua</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.LuotMua)</dd>

            <dt class="col-sm-3">Thể loại</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MaDmNavigation.Ten)</dd>
        </dl>
    </div>
</div>

<div class="d-flex justify-content-between">
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSach" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
    </form>
    <a class="btn btn-secondary" asp-action="Index">
        <i class="bi bi-arrow-left"></i> Trở về danh sách
    </a>
</div>


<script>

        .card - header {
        background - color: #dc3545;
        color: #fff;
    }

    .card - body dl {
        margin - bottom: 0;
    }

    .img - thumbnail {
        max - width: 150px;
    }

    .btn - danger {
        background - color: #dc3545;
        border - color: #dc3545;
    }

    .btn - danger:hover {
        background - color: #c82333;
        border - color: #bd2130;
    }

    .btn - secondary {
        background - color: #6c757d;
        border - color: #6c757d;
    }

    .btn - secondary:hover {
        background - color: #5a6268;
        border - color: #545b62;
    }

</script>