@model IEnumerable<WebApplication1.Models.Mathang>

@{
    ViewData["Title"] = "Mặt hàng";
}


<h1>Danh sách Mặt Hàng</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>


<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá gốc</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Lượt xem</th>
                        <th scope="col">Lượt mua</th>
                        <th scope="col">Loại sách</th>
                        <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                <td>@Html.DisplayFor(modelItem => item.GiaGoc)₫</td>
                <td>@Html.DisplayFor(modelItem => item.GiaBan)₫</td>
                <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                <td>
                    <img src="~/images/products/@Html.DisplayFor(modelItem => item.HinhAnh)" alt="@Html.DisplayFor(modelItem => item.Ten)" class="img-thumbnail" style="width: 75px; height: auto;" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.LuotXem)</td>
                <td>@Html.DisplayFor(modelItem => item.LuotMua)</td>
                <td>@Html.DisplayFor(modelItem => item.MaDmNavigation.Ten)</td>
                <td class="text-center">
                    <a class="btn btn-outline-warning btn-sm mb-1" asp-action="Edit" asp-route-id="@item.MaSach">
                        <i class="bi bi-pencil"></i> Sửa
                    </a>
                    <a class="btn btn-outline-info btn-sm mb-1" asp-action="Details" asp-route-id="@item.MaSach">
                        <i class="bi bi-eye"></i> Chi tiết
                    </a>
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.MaSach">
                        <i class="bi bi-trash"></i> Xóa
                    </a>              
            </tr>
        }
    </tbody>
</table>


        